# Binaries
**/bin/
!vendor/bin/prmake/
bin-int/

# VS files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user


#misc
Sandbox/HazelProfile-Runtime.json
Sandbox/HazelProfile-Shutdown.json
Sandbox/HazelProfile-Startup.json